<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/font-awesome.css">
    <style>
        .aditional{
            display: flex;
            flex-flow: column nowrap;
            font-size: 2rem;
            justify-content: center;
            align-items: center;
            border: 2px solid black;
            border-radius: 2em;
            margin-top: 4em;
            
        }
        .area{
            font-size: 8rem;
            
        }
        .large{
            font-size: 15rem;
        }
        p{
            color: red;
            font-size: 4rem;
            font-family: 'Poppins', sans-serif;
            font-weight: 600;
        }
    </style>
    <title>Error-404</title>
</head>
<body class=" bg-warning">
    <div class="container aditional">
        <h1 class="area">Error<span class="large">404</span></h1>
        <p>Opps... The Requested URL Was Not Found!...</p>
        
    </div>
</body>
</html>